<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1> Blog posts</h1>
<%= @posts.inspect %>
<h1> Skills</h1>
<%= @skills.inspect %>
=======
<h1>PAGE OF HOME</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= @posts.inspect %>
>>>>>>> 186584ce935ad6b0872e577393d395798103f382
